.nav{
    background-color: rgb(29, 29, 29);
    width: 100%;
    color: azure;
    display: flex;
    position:absolute;
    top: 0%;
    left: 0%;

}
.button{
    color: rgb(0, 0, 0);
    border-color: black;
    background-color: #ffffff;
    margin: 0.3vw;
    border-width: 1px;
}
button:hover{
    border-radius: 20%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    background-color: rgb(203, 232, 255);
    border-bottom-color:rgb(59, 91, 136);
    color: black;
}

#title, #logo{
    position: relative;
    margin-top: 1vw;
    margin-left: 1vw
}
#image{
    width: 55vw;
    margin-top: 1vw;
    position: relative;
    float: left;
}
#text{
    font-size: 3vw;
}
#setting{
    margin-top: 2vw;
    float: left;
    text-align: left;
    margin-left: 3vw;
    width: 40%;
}
#main{
    margin-top: 15vh;
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}