<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
     <link rel="icon" id="web-img" href="https://static.vecteezy.com/system/resources/previews/009/380/560/non_2x/diamond-clipart-design-illustration-free-png.png">
    <!-- Bootstrap CSS -->
    <title id="App">Flask App</title>
        <script src="{{url_for('static',filename= 'socket.io.js')}}"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
  </head>
  <body>

    <header>
      <div class="nav">
         <img id="logo" src="https://play-lh.googleusercontent.com/P6st0qy_JbKpRy-eQ74q8VtCg8OwnO5rECEk8DnKZt0ToqdRRXvHuoi51CH3zi9rD7O2" width="50" height="50" alt="face.png">
        <h1 id="title" > Human Detection App </h1>
      </div>
    </header>
  {% block content %}

  {% endblock %}
  </body>

</html>