{% extends "base.html" %}{% block content %}
            <div>
          <h1 style="text-align:center">Human Detection</h1>
          <div style="text-align: center;">
              <div>
              <img src="https://tanahair.indonesia.go.id/pupm/static/no_video.jpg" width="60%" id="image" alt="image not found"/>
            </div>
              <div id="setting">
                <div>
                <h2 id="count" >text</h2>
                <form action="/cam" method="POST">
                    The Camera Number: <input name="name" type="number" style="font-size:20px ;" value="0" >
                    <input type="Submit" value="Change Camera">
                </form>
                            
                <form action="/cancel" method="POST">
                    Type "cancel" <input name="name" type="text" style="font-size:20px ;" value="cancel" >
                    <input type="Submit" value="Stop Camera">
                </form>
                </div>
                <br>
                <div>
                  Show the Number of People Detected:<input type="checkbox" id="C-check" >
                </div>
                <br>
                <div>
                  Notify When Discovered People in View:<input type="checkbox" id="notify" >
                            <p>{{val}}</p>
                </div>
              </div>
        </div>
        <script src="{{url_for('static', filename='code.js')}}"></script>
      </div>
{% endblock %}
