{% extends "base.html" %}{% block content %}
            <div>
          <h1 style="text-align:center">Human Detection</h1>
          <div style="text-align: center;">
              <div>
              <img src="{{ url_for('video') }}" width="60%" id="image" alt="image not found"/>
            </div>
              <div id="setting">
                  <div>
                <h2 id="turn" >text</h2>
                    <button class="button" id="camTurn" onclick="Turn()">Turn On Camera</button>
                </div>
                <div>
                <h2 id="count" >text</h2>
                    IP Camera URL: <input name="name" type="text" id="camURL" style="font-size:20px ;" value="0" >
                    <button class="button" onclick="access()">Send</button>
                </div>
                <br>
                <div>
                  Show the Number of People Detected:<input type="checkbox" id="C-check" >
                </div>
                <br>
                <div>
                  Notify When Discovered People in View:<input type="checkbox" id="notify" >
                </div>
                <div>
                  <button onclick="camBtn">Turn On Camera</button>
                </div>
                  <p>{{val}}</p>
              </div>
        </div>
        <script type ="text/javascript">
    var socket = io();


    socket.on("connect", ()=>{
        console.log("connected");
    })
    socket.on("response", (url) =>{
    console.log(url);
    })

    //{{ url_for('video') }}
    var txt = document.getElementById("count");
    var camURL = document.getElementById("camURL");
//    check(txt,"C-check", "/send_text", "Not Counting Right Now" )
//    }, 100)
    function access(){
        camURL = document.getElementById("camURL").value;
        socket.emit("url", camURL)
    }
    function Turn(){
        socket.emit("cam", 1)

    }


    function check (OutputID,InputID, link, elseVal ){

        if(document.getElementById(InputID).checked == true){
            fetch(link)
            .then(response => {
                response.text().then(t => OutputID.innerHTML = t)
            });
        }
        else{
            OutputID.innerHTML = elseVal;
        }
    }
</script>
      </div>
{% endblock %}